<template>
    <div>
        <h1>este es mi blog</h1>
        <hr>
        <div class="container">
            <blog v-for="persona in personas" :datos="persona" :key="persona.key"></blog>
        </div>
    </div>
</template>

<script>
const axios = require('axios');
import blog from './blog.vue'

export default {
    components:{
        blog
    },
    mounted(){
        this.cargarBlogs();
    },
    data(){
        return{
            personas: [],
        }
    },
    methods:{
        cargarBlogs(){
            axios
                .get('https://randomuser.me/api/?results=6')
                .then((response) => {
                    const listado = response.data.results.map((usuario)=>{
                        return{
                            nombre: `${usuario.name.first} ${usuario.name.last}`,
                            url: usuario.picture.large
                        };
                    });
                    this.personas = listado;
                })
        }
    }
}
</script>

<style scoped>
.container{
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    padding: 4rem 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
</style>