<template>
    <div>
        <img :src="datos.url">
        <hr>
        <h3>{{ datos.nombre }}</h3>
    </div>
</template>

<script>
export default {
    name: 'blog',
    props: ['datos','key']
}
</script>

<style scoped>
div{
    border-radius: 10px;
    background: #42b983;
}
</style>