<template>
    <header>
      <ul>
        <li>
          <router-link to="/">Home</router-link>
        </li>
        <li>
          <router-link to="blog">Blog</router-link>
        </li>
        <li>
          <router-link to="contact">Contacto</router-link>
        </li>
      </ul>
    </header>
</template>

<script>
export default {
    name: 'inicio'
}
</script>

<style scoped>

</style>