<template>
  <div id="app">
    <!--<img src="./assets/logo.png">
    <h1>{{ msg }}</h1>-->
    <inicio></inicio>
    <router-view></router-view>
    <final></final>
  </div>
</template>

<script>
import inicio from './components/inicio.vue'
import final from './components/footer.vue'

export default {
  name: 'app',
  components:{
    inicio,final
  },
}
</script>

<style>
body{
  margin: 0%;
}
#app {
  text-align: center;
}
header, footer{
  background: #2c3e50;
  padding: 8px
}

ul {
  padding: 0;
  margin: 0%;
}

li {
  display: inline-block;
  margin: 0 40px;
}

a {
  color: #42b983;
  text-decoration: none;
}
h1, hr{
  margin: 0;
}
</style>